<header class="text-center bg-light jumbotron">
  <div class="container">
    <h2>PANEL DE ADMINISTRACION TURISMO</h2>
  </div>
</header>


<div class="container contenedorprincipal">
  <div class="row">
    <div class="col-3">
      <div class="alert alert-secondary alert-dismissible text-center">
        Usuario: {{nombreusuario}}
        <button type="button" class=" btn btn-outline btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="salir()">
          <!--<span class="material-icons" style="cursor: pointer; font-size:18px">
            logout
          </span>-->
        </button>
      </div>
      <app-menu></app-menu>
    </div>
    <div class="col-8">
      <div class="shadow p-2 mb-5 bg-body rounded bg-light">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>



<div id="modalshow" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!--<div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>-->
      <div class="modal-body">
        <div id="mensajeModal" class="alert text-center">
          <strong>{{respuesta}}</strong>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modalshow">Aceptar</button>
      </div>
    </div>
  </div>
</div>