<div class="container" style="padding:10px">
    <form method="post" [formGroup]="frmPaisRegistro" id="frmDataReg">
    <div class="row">
        <div class="col-4">
            <div class="mb-4">
                <label for="nombrePais" class="form-label">Nombre de Pais</label>

                <input type="text" formControlName="nombre" class="form-control " id="nombrePais" name="nombrePais" required>

                <ng-container *ngFor="let validation of validacionCampos.nombre">
                    <div
                        *ngIf="frmPaisRegistro.controls['nombre'].hasError(validation.type) && (frmPaisRegistro.controls['nombre'].dirty || frmPaisRegistro.controls['nombre'].touched)">
                        <small class="text-danger">{{validation.message}}</small>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-8">
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <textarea name="descripcion" formControlName="descripcion" rows="5"class="form-control"
                    id="descripcion"></textarea>
            </div>
        </div>
    </div>
    


        <div class="text-center">
            <button id="enviar" class="btn btn-primary" (click)="onSubmit()" disabled>Guardar</button>
            <button type="reset" id="reset" class="btn btn-danger" style="margin-left: 10px" (click)="borrar()"
                disabled>Cancelar</button>
        </div>
    </form>
</div>