


<ul class="list-group" style="padding:0px;" class="rounded bg-gradient bg-light">
    <li style="list-style: none;" class="text-center ">
        <h4 class="card-header"><strong>MENU PRINCIPAL</strong></h4>
    </li>
    <li class="list-group-item">
        <button class="btn btn-dark d-block bg-gradient text-warning btnlink" type="button" style="width: 100%;" routerLink="manejopaises" data-bs-toggle="tooltip" data-bs-placement="right" title="Paises">Manejo Paises</button>
    </li>
    <li class="list-group-item">
        <button class="btn btn-dark bg-gradient text-warning btnlink" style="width: 100%;" routerLink="manejoregiones" data-bs-toggle="tooltip" data-bs-placement="right" title="Regiones">Manejo Regiones</button>
        
    </li>
    <li class="list-group-item">
        <button class="btn btn-dark bg-gradient text-warning btnlink" style="width: 100%;" routerLink="manejodepartamentos" data-bs-toggle="tooltip" data-bs-placement="right" title="Departamentos">Manejo Departamentos</button>
    </li>
</ul>