<div class="card">
    <div class="card-header text-center">
        <strong>MENU PRINCIPAL</strong>
    </div>
    <div class="card-body">
        <ul class="list-group" style="padding:0px; border:0px" class="rounded bg-gradient bg-light">
            <li class="list-group-item " style="border:0px">
                <button class="btn btn-dark d-block bg-gradient text-warning btnlink" type="button" style="width: 100%;"
                    routerLink="manejopaises" data-bs-toggle="tooltip" data-bs-placement="right" title="Paises">Manejo
                    Paises</button>
            </li>
            <li class="list-group-item" style="border:0px">
                <button class="btn btn-dark bg-gradient text-warning btnlink" style="width: 100%;"
                    routerLink="manejoregiones" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="Regiones">Manejo Regiones</button>

            </li>
            <li class="list-group-item" style="border:0px">
                <button class="btn btn-dark bg-gradient text-warning btnlink" style="width: 100%;"
                    routerLink="manejodepartamentos" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="Departamentos">Manejo Departamentos</button>
            </li>
        </ul>

    </div>
</div>