


<ul class="list-group" style="border: 0px;">
    <li class="text-center">
        <h5>MENU PRINCIPAL</h5>
    </li>
    <li class="list-group-item">
        <button class="btn btn-info d-block" type="button" style="width: 100%;" routerLink="manejopaises">Manejo Paises</button>
    </li>
    <li class="list-group-item">
        <button class="btn btn-primary" style="width: 100%;" routerLink="manejoregiones">Manejo Regiones</button>
        
    </li>
    <li class="list-group-item">
        <button class="btn btn-warning" style="width: 100%;" routerLink="manejociudades">Manejo Ciudades</button>
    </li>
</ul>




<!--



<section style="padding: 20px;">
    <div class="accordion" id="menuPricipal" style="background-color:rgb(15, 139, 177);">
        <div class="accordion-item" style="background-color:rgb(15, 139, 177);">
            <h4 class="accordion-header" id="menu1">
                <button class="accordion-button collapsed"
                    style="background-color:#eb9a58; color:white;font-weight:bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#submenu1" aria-expanded="false" aria-controls="no">
                    Manejo de Paises
                </button>
            </h4>
            <div id="submenu1" class="accordion-collapse collapse " aria-labelledby="menu1"
                data-bs-parent="#menuPricipal">
                <div class="accordion-body" style="padding:0px;">
                    <ul style="margin-left: 0px;background-color: transparent">
                        <li style="padding: 5px;list-style: none;"><a href="#" class="btn btn-secondary btn-sm">Nuevo
                                Plan Turistico </a></li>
                        <li style="padding: 5px;list-style: none;">
                            <a href="#" class="btn btn-primary btn-sm" routerLink="/region">Listar Planes </a>
                        </li>
                        <li style="padding: 5px;list-style: none;"><a href="#" class="btn btn-primary btn-sm">Menu 3</a>
                        </li>
                        <li style="padding: 5px;list-style: none;"><a href="#" class="btn btn-primary btn-sm">Menu 4</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item" style="background-color:rgb(15, 139, 177);">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed"
                    style="background-color:#eb9a58; color:white;font-weight:bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                    Manejo de Regiones
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#menuPricipal">
                <div class="accordion-body">
                    <ul style="margin-left: 0px;background-color: transparent">
                        <li style="padding: 5px;list-style: none;">
                            <a href="#" class="btn btn-secondary btn-sm" routerLink="region">Nueva Region</a>
                        </li>
                        <li style="padding: 5px;list-style: none;"><a href="#" class="btn btn-primary btn-sm">Menu 2</a>
                        </li>
                        <li style="padding: 5px;list-style: none;"><a href="#" class="btn btn-primary btn-sm">Menu 3</a>
                        </li>
                        <li style="padding: 5px;list-style: none;"><a href="#" class="btn btn-primary btn-sm">Menu 4</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item" style="background-color:rgb(15, 139, 177);">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed"
                    style="background-color:#eb9a58; color:white;font-weight:bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    Manejo de ciudades
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#menuPricipal">
                <div class="accordion-body">
                    <ul style="margin-left: 0px;background-color: transparent">
                        <li style="padding: 5px;list-style: none;"><a href="#" class="btn btn-secondary btn-sm">Menu
                                1</a></li>
                        <li style="padding: 5px;list-style: none;"><a href="#" class="btn btn-primary btn-sm">Menu 2</a>
                        </li>
                        <li style="padding: 5px;list-style: none;"><a href="#" class="btn btn-primary btn-sm">Menu 3</a>
                        </li>
                        <li style="padding: 5px;list-style: none;"><a href="#" class="btn btn-primary btn-sm">Menu 4</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
-->