<div>
    <div class="row" style="padding: 10px;">
        <div class="col-3">
            <button class="btn btn-primary btn-block" style="margin-left: 10px;" (click)="listartodos()">Listar
                todos</button>
        </div>
        <div class="col-8 d-flex align-items-center">
            <div class="input-group mb-3 ">
                <!--<input type="text" class="form-control" id="bnombreRegion" name="bnombreRegion"
                    placeholder="Nombre Pais"  disabled>-->
                <input type="text" [(ngModel)]="searchText" class="form-control" id="buscarpais" mdbInput
                    (keyup.enter)="buscarPorNombre()" placeholder="Nombre del pais" />
                <button class="btn btn-outline-primary" type="button" id="bntbuscar"
                    (click)="buscarPorNombre()">Buscar</button>
            </div>
        </div>
    </div>
    <div>
        <table mdbTable id="dataTable" class="table table-hover  ">

            <thead class="table-info">
                <tr class="text-center">
                    <th scope="col">N°</th>
                    <th scope="col">NOMBRE PAIS</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">OPT</th>
                </tr>
            </thead>

            <tbody class="buscar">
                <ng-container *ngIf="misPaises.length > 0">
                    <tr *ngFor="let pais of (misPaises | slice:desde:hasta) ">
                        <ng-container *ngIf="pais!=null">
                            <td class="text-center" scope="row" width="40px">
                                <ng-container *ngIf="pais.id!=null">
                                    {{pais.id}}
                                </ng-container>
                            </td>
                            <td class="text-center">
                                <ng-container *ngIf="pais.nombre!=null">
                                    {{pais.nombre}}
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="pais.descripcion!=null">
                                    {{pais.descripcion}}
                                </ng-container>

                            </td>
                            <td class="text-center" width="80px">
                                <form id="frmDataPais" method="POST" action="#">
                                    <div class="btn-group" role="group">
                                        <input type="hidden" name="idpais" value="{{pais.id}}">
                                        <button type="submit" class="btn btn-outline-info" (click)="showUpdate(pais)">

                                            <span class="material-icons " style="cursor: pointer; font-size:15px">
                                                description
                                            </span>
                                        </button>
                                        <button type="submit" class="btn btn-outline-warning btn-sm"
                                            (click)="deletePais(pais)">
                                            <span class="material-icons md-18"
                                                style="cursor: pointer;margin-left: 5px;">
                                                delete_forever
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </ng-container>
                    </tr>
                </ng-container>
                <ng-container *ngIf="misPaises.length === 0">
                    <tr>
                        <td colspan="4">
                            <div class="alert">
                                <strong>NO HAY RESULTADOS</strong>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <mat-paginator [length]="misPaises.length" [pageSize]="pageSize" (page)="cambiarPagina($event)"
            [pageSizeOptions]="[5, 10]" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</div>


<ng-template #modalMensaje let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>Modificacion</span>
        </h4>
        <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>-->
    </div>
    <div class="modal-body text-center"> 
        <app-agregar-paises #actualizar [paisRecibido]="paisAct"></app-agregar-paises>
        

    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-sm" (click)="actualizar.actualizar();modal.close('Save click')">Actualizar</button>
        <button class="btn btn-danger btn-sm" style="margin-left: 10px" (click)="modal.close('Save click')">Cancelar</button>
    </div>
</ng-template>